doctype html
html
	head
		title Game skeleton
		link(rel='stylesheet', href='/stylesheets/game.css')
		script(data-main='/javascripts/main.js', src='/javascripts/libs/require.js')
	body
		block content
